.tabs-views > .tab {
    display: none;
}

.tabs-views > .tab.selected {
    display: block;
}

/* 프로그레스 바 스타일 */
.status-report-progress-container {
    min-width: 500px;
    height: 0.75em;
    position: relative;
}

.status-report-progress-bar {
    position: absolute;
    height: 100%;
    background: linear-gradient(to right, #4ca2cd, #67B26F);
    border-radius: 4px;
    min-width: 2px;
}
